:root {
  --main-color: #c3e991;
  --border-color: #dfcc74;
  --button-color: #cb904d;
  --heading-btn-font-family: "ABeeZee", sans-serif;
  --main-font-family: "Hind Madurai", sans-serif;
}

body {
  background-color: #51a3a3;
  margin: 20px 60px;
}

h1 {
  font-family: var(--heading-btn-font-family);
  font-weight: 400px;
  font-size: 70px;
  color: var(--main-color);
}

h2 {
  font-family: var(--heading-btn-font-family);
  font-weight: 400px;
  font-size: 35px;
  color: var(--main-color);
}

p {
  font-family: var(--main-font-family);
  font-weight: 700px;
  font-size: 25px;
  color: #fff;
  margin: 40px 0px;
}

.picture-style {
  border: solid 10px;
  border-color: var(--border-color);
}

.contact-section {
  text-align: center;
}

.button-main {
  background: var(--button-color);
  border-radius: 50px;
  color: white;
  padding: 10px 25px;
  line-height: 30px;
  font-size: 25px;
  font-family: var(--heading-btn-font-family);
}

.social-media-icon {
  font-size: 30px;

  padding: 15px;
  border-radius: 50%;
  color: var(--button-color);
  background: white;
}

.about-me {
  font-size: 22px;
}

.check-out-projects {
  text-align: center;
  margin: 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    margin: 50px 0px;
  }

  .contact-section p {
    font-size: 20px;
  }

  .button-main {
    font-size: 15px;
    line-height: 20px;
    padding: 5px 15px;
  }

  .my-work-container h2 {
    text-align: center;
  }

  .my-work-container p {
    font-size: 20px;
  }
}
