body {
  background-color: #51a3a3;
}

h1 {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400px;
  color: #c3e991;
}

p {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500px;
  color: #fff;
}
